* {
    margin: 100;
    padding: 100;
}

header {

    background-color: #02274e;
    color: #fff;
    padding: 40px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    font-size: 52px;
}

.menus a{
    color: #fff;
    text-decoration: nome;
    font-weight: bold;
    margin: 10px;
}
main {
    margin: 0 30px;
}
.imagens a {
    margin: 50px;
}
.imagens a img {
    width: 200px;
    height: 100px;
   
}
.titulos {
    margin: 10px 5px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subtitulos {
    text-decoration: nome;
    margin-right: 50px;
    text-align: center;
}